body {
background-color:#010101;
font-family: "Open Sans",Arial;
font-size:18px;
color:#bababa;
margin:2em auto;
max-width:600px;
padding:1em;
line-height:1.6em;
}
h1, h2, h3, h4 {
margin: 0;
}
img {
    max-width: 600px;
}
time {
color: #888;
}
.bar{
padding-right: 12px;
}
#content{
padding-top: 12px;
}